In [2]:
import os
import pandas as pd

# Obtiene el directorio actual
directorio_actual = os.getcwd()

# Imprime la ubicación actual
print("Directorio actual:", directorio_actual)

Directorio actual: /Users/davidfernandez/Desktop/Projects/Final-project/Notebooks

# Cleaning our dataframes

## First dataframe (2015-2016)

In [3]:
df = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2015-2016.csv')
# We open our first csv, which contains all the names of the graduating students in the 2015-2016 class

In [4]:
df['Nombre reducido'].unique() # We see the unique values in the columns of our Bachelor Degrees

array(['Grado en Com Audiovisual ', 'Grado en Publicidad      ',
       'Grado en Historia Arte   ', 'PERIODISMO               ',
       'HUMANIDADES              ', 'Grado en Historia        ',
       'Gr. Educación Primaria   ', 'Gr. Educación Infantil   ',
       'Grado en Periodismo      ', 'COMUNICACIÓN AUDIOVISUAL ',
       'Gr. Comunicación Digital ', 'PUBLICIDAD Y REL.PÚBLICAS',
       'Grado en Humanidades     '], dtype=object)

In [5]:
nuevos = {'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia Arte', 'HUMANIDADES              ': 'Humanidades', 'Gr. Educación Primaria   ': 'Educación primaria', 'Grado en Periodismo      ': 'Periodismo', 'Gr. Comunicación Digital ': 'Comunicación digital', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Publicidad      ': 'Publicidad', 'PERIODISMO               ': 'Periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Educación Infantil   ': 'Educación infantil', 'COMUNICACIÓN AUDIOVISUAL ': 'Comunicación audiovisual', 'PUBLICIDAD Y REL.PÚBLICAS': 'Publicidad'}

In [6]:
df['Nombre reducido'] = df['Nombre reducido'].replace(nuevos) # We replace our values by more comprehensible values

In [7]:
df['Nombre reducido'].unique()

array(['Comunicación audiovisual', 'Publicidad', 'Historia Arte',
       'Periodismo', 'Humanidades', 'Historia', 'Educación primaria',
       'Educación infantil', 'Comunicación digital'], dtype=object)

In [8]:
columnas_a_eliminar = {'Cod.facultad', 'Cod.carrera', 'Cv; telefono sms', 'Tipo expediente'} 

# We set the columns that we want to remove in our df

In [9]:
df = df.drop(columnas_a_eliminar, axis=1)

 # And now we get rid of those columns and visualize again our dataframe

In [10]:
nuevos_nombres = {'Nombre reducido': 'Grado', 'Nombre propio': 'Nombre', 'Cv; email asig.': 'Email universitario', 'Cv; email libre': 'Email personal'}

In [11]:
df = df.rename(columns=nuevos_nombres)

# Now we change our columns names

In [12]:
def eliminar_espacios_extra(cadena):
    if isinstance(cadena, str):  
        return cadena.strip()
    else:
        return cadena

df = df.applymap(eliminar_espacios_extra)

# We create a function to remove all spaces before and after each value of our dataframe

In [13]:
def crear_nombre_completo(row):
    return f"{row['Nombre']} {row['Primer apellido']} {row['Segundo apellido']}"


df['Nombre completo'] = df.apply(crear_nombre_completo, axis=1)

# We create a function that mixes each student's name, first and second name. We then apply it to our df in a new column

In [14]:
'''A lot of our graduates are duplicated, since they graduated from a dual degree. We are going to identify them, 
remove the second row, and in the column 'Grado' of our first row, we're going to add the dual degree'''


import pandas as pd

for index, row in df.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df[df['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df.loc[index, 'Grado'] = nuevos_grados
        
        df.drop(duplicados.index[1:], inplace=True)

In [118]:
valores_a_eliminar = ['Educación primaria', 'Educación primaria y Educación infantil', 'Educación infantil y Educación primaria', 'Educación infantil']

df = df[~df['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)

# Now, we get rid of the students from the degrees of Primary Education and Early Childhood Education

In [43]:
df.to_csv('/Users/davidfernandez/Desktop/clean/2015-2016.csv', index=False)

# Finally, we save our dataframe in csv format

## Second dataframe (2016-2017)

In [16]:
df2 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2016-2017.csv')

In [17]:
df2['Nombre reducido'].unique()

array(['Grado en Publicidad      ', 'Grado en Historia Arte   ',
       'Grado en Periodismo      ', 'Grado en Humanidades     ',
       'Gr. Comunicación Digital ', 'Gr. Educación Infantil   ',
       'Grado en Com Audiovisual ', 'Gr. Educación Primaria   ',
       'Grado en Historia        '], dtype=object)

In [18]:
nuevos2 = {'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia Arte', 'Gr. Educación Primaria   ': 'Educación primaria', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Publicidad      ': 'Publicidad', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Educación Infantil   ': 'Educación infantil'}

In [19]:
df2['Nombre reducido'] = df2['Nombre reducido'].replace(nuevos2) # We replace our values by more comprehensible values

In [20]:
columnas_a_eliminar2 = {'Cod.facultad', 'Cod.carrera', 'Cv; telefono sms', 'Tipo expediente'}

In [21]:
df2 = df2.drop(columnas_a_eliminar2, axis=1)

In [22]:
nuevos_nombres2 = {'Nombre reducido': 'Grado', 'Nombre propio': 'Nombre', 'Cv; email asig.': 'Email universitario', 'Cv; email libre': 'Email personal'}

In [23]:
df2 = df2.rename(columns=nuevos_nombres2)

In [24]:
df2 = df2.applymap(eliminar_espacios_extra)

# We create a function to remove all spaces before and after each value of our dataframe

In [25]:
df2['Nombre completo'] = df2.apply(crear_nombre_completo, axis=1)

In [26]:
for index, row in df2.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df2[df2['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df2.loc[index, 'Grado'] = nuevos_grados
        
        df2.drop(duplicados.index[1:], inplace=True)

In [27]:
df2 = df2[~df2['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)

In [44]:
df2.to_csv('/Users/davidfernandez/Desktop/clean/2016-2017.csv', index=False)

## Third dataframe (2017-2018)

In [91]:
df3 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2017-2018.csv')

In [98]:
nuevos3 = {'Gr. Comunicación Digital': 'Comunicación digital', 'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia Arte', 'Gr. Educación Primaria   ': 'Educación primaria', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Publicidad      ': 'Publicidad', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Educación Infantil   ': 'Educación infantil'}

In [99]:
df3['Nombre reducido'] = df3['Nombre reducido'].replace(nuevos3) 

# We replace our degree values by more comprehensible values

In [101]:
df3 = df3.applymap(eliminar_espacios_extra)

In [102]:
def transform_name(row):
    if ',' in row['Nombre del alumno']:
        parts = row['Nombre del alumno'].split(', ')
        formatted_name = ' '.join([part.title() for part in parts[::-1]])
        return formatted_name
    else:
        return row['Nombre del alumno']

df3['Nombre completo'] = df3.apply(transform_name, axis=1)

# We create a new column with more comprehensible names

In [109]:
nuevos_nombres = {'Nombre reducido': 'Grado', 'Cv; email asig.': 'Email universitario', 'Cv; email libre': 'Email personal'}

df3 = df3.rename(columns=nuevos_nombres)

In [116]:
import pandas as pd

for index, row in df3.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df3[df3['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df3.loc[index, 'Grado'] = nuevos_grados
        
        df3.drop(duplicados.index[1:], inplace=True)

In [119]:
df3 = df3[~df3['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)

In [120]:
columnas_a_eliminar3 = {'Calificacion exp', 'Cv; telefono sms', 'Nombre del alumno'} 

df3 = df3.drop(columnas_a_eliminar3, axis=1)

In [125]:
df3.to_csv('/Users/davidfernandez/Desktop/clean/no scrapped/2017-2018.csv', index=False)

## Fourth dataframe (2018-2019)

In [ ]:
df4 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2018-2019.csv', delimiter=';')


NO PODEMOS ABRIR ESTE ARCHIVO, PASAMOS AL SIGUIENTE

## Fifth dataframe (2019-2020)

In [149]:
df5 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2019-2020.csv')

In [151]:
nuevos5 = {'Gr. Publicidad y Market. ': 'Publicidad', 'Grado en Publicidad      ': 'Publicidad', 'Gr. Comunicación Digital ': 'Comunicación digital', 'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'PERIODISMO               ': 'Periodismo', 'Gr. Historia e Hist.Arte ': 'Historia y Historia del arte', 'Gr. Historia y Periodismo': 'Historia y periodismo', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Periodismo      ': 'Periodismo', 'Gr. Humanidades y Public.': 'Humanidades y Publicidad', 'Gr. Humanidades y Period.': 'Humanidades y periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Com. Aud y Public.   ': 'Comunicación audiovisual y publicidad', 'Gr. Periodismo y Com.Aud ': 'Periodismo y Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia del arte'}           
           

df5['Nombre reducido'] = df5['Nombre reducido'].replace(nuevos5)

In [152]:
df5 = df5.applymap(eliminar_espacios_extra)

In [153]:
df5['Nombre completo'] = df5.apply(transform_name, axis=1)

In [154]:
nuevos_nombres5 = {'Nombre reducido': 'Grado', 'Cv; email asig.': 'Email universitario', 'Cv; email libre': 'Email personal'}

df5 = df5.rename(columns=nuevos_nombres5)

In [144]:
import pandas as pd

for index, row in df5.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df5[df5['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df5.loc[index, 'Grado'] = nuevos_grados
        
        df5.drop(duplicados.index[1:], inplace=True)

In [157]:
duplicados = df5[df5.duplicated(subset=['Nombre completo'], keep=False)]

duplicados

# There's not any duplicates in this dataframe

Empty DataFrame
Columns: [Grado, Nombre del alumno, Calificacion exp, Email universitario, Email personal, Cv; telefono sms, Nombre completo]
Index: []

In [158]:
df5 = df5[~df5['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)

In [160]:
columnas_a_eliminar3 = {'Calificacion exp', 'Cv; telefono sms', 'Nombre del alumno'} 

df5 = df5.drop(columnas_a_eliminar3, axis=1)

In [164]:
df5.to_csv('/Users/davidfernandez/Desktop/clean/no scrapped/2019-2020.csv', index=False)

## Sixth dataframe (2020-2021)

In [165]:
df6 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2020-2021.csv')

In [169]:
nuevos6 = {'Grado en Comunicación Audiovisual (Plan 2009)': 'Comunicación audiovisual', 'Grado en Comunicación Audiovisual y Grado en Publicidad y Relaciones Públicas (Plan 2009)': 'Comunicación audiovisual y Publicidad', 'Grado en Comunicación Digital (Plan 2012)': 'Comunicación digital', 'Grado en Comunicación Digital y Grado en Comunicación Audiovisual (Plan 2012)': 'Comunicación digital y comunicación audiovisual', 'Grado en Comunicación Digital y Grado en Periodismo (Plan 2012)': 'Comunicación digital y periodismo', 'Grado en Comunicación Digital y Grado en Publicidad y Relaciones Públicas (Plan 2012)': 'Comunicación digital y publicidad', 'Grado en Historia del Arte (Plan 2009)': 'Historia del arte', 'Grado en Historia y Grado en Historia del Arte (Plan 2009)': 'Historia y historia del arte', 'Grado en Historia y Grado en Periodismo (Plan 2013)': 'Historia y periodismo', 'Grado en Humanidades (Plan 2009)': 'Humanidades', 'Grado en Humanidades y Grado en Comunicación Audiovisual (Plan 2009)': 'Humanidades y comunicación audiovisual', 'Grado en Humanidades y Grado en Periodismo (Plan 2009)': 'Humanidades y periodismo', 'Grado en Humanidades y Grado en Publicidad y Relaciones Públicas (Plan 2009)': 'Humanidades y publicidad', 'Grado en Periodismo (Plan 2009)': 'Periodismo', 'Grado en Periodismo y Grado en Comunicación Audiovisual (Plan 2009)': 'Periodismo y comunicación audiovisual', 'Grado en Periodismo y Grado en Publicidad y Relaciones Públicas (Plan 2009)': 'Periodismo y publicidad', 'Grado en Publicidad y Relaciones Públicas (Plan 2009)': 'Publicidad', 'Grado en Publicidad y Relaciones Públicas y Grado en Marketing y Gestión Comercial (Plan 2009)': 'Publicidad'}

df6['NombrePlanEstudio'] = df6['NombrePlanEstudio'].replace(nuevos6)

In [170]:
df6 = df6.applymap(eliminar_espacios_extra)

In [172]:
nuevos_nombres6 = {'NombrePlanEstudio': 'Grado', 'EmailAlumnoInstitucional': 'Email universitario', 'EmailAlumnoPersonal': 'Email personal'}

df6 = df6.rename(columns=nuevos_nombres6)

In [177]:
def crear_nombre_completo(row):
    return f"{row['Nombre']} {row['Apellido1']} {row['Apellido2']}"


df6['Nombre completo'] = df6.apply(crear_nombre_completo, axis=1)

In [179]:
duplicados = df6[df6.duplicated(subset=['Nombre completo'], keep=False)]

duplicados

# There's not any duplicates in this dataframe either

Empty DataFrame
Columns: [Nombre, Apellido1, Apellido2, Telefono, Telefono2, Email universitario, Email personal, NIA, IdExpedienteAcademicoNK, IdPlanEstudioNK, Grado, NombreCentro, Nombre completo]
Index: []

In [181]:
columnas_a_eliminar6 = {'Nombre', 'Apellido1', 'Apellido2', 'Telefono', 'Telefono2', 'NIA', 'IdExpedienteAcademicoNK', 'IdPlanEstudioNK', 'NombreCentro'} 

df6 = df6.drop(columnas_a_eliminar6, axis=1)

In [185]:
df6.to_csv('/Users/davidfernandez/Desktop/clean/no scrapped/2020-2021.csv', index=False)