In [408]:
import os
import pandas as pd

# Obtiene el directorio actual
directorio_actual = os.getcwd()

# Imprime la ubicación actual
print("Directorio actual:", directorio_actual)

Directorio actual: /Users/davidfernandez/Desktop/Projects/Final-project/Notebooks

## First dataframe (2015-2016)

In [409]:
df = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2015-2016.csv')

In [410]:
df['Nombre reducido'].unique() # We see the unique values in the columns of our Bachelor Degrees

array(['Grado en Com Audiovisual ', 'Grado en Publicidad      ',
       'Grado en Historia Arte   ', 'PERIODISMO               ',
       'HUMANIDADES              ', 'Grado en Historia        ',
       'Gr. Educación Primaria   ', 'Gr. Educación Infantil   ',
       'Grado en Periodismo      ', 'COMUNICACIÓN AUDIOVISUAL ',
       'Gr. Comunicación Digital ', 'PUBLICIDAD Y REL.PÚBLICAS',
       'Grado en Humanidades     '], dtype=object)

In [411]:
nuevos = {'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia Arte', 'HUMANIDADES              ': 'Humanidades', 'Gr. Educación Primaria   ': 'Educación primaria', 'Grado en Periodismo      ': 'Periodismo', 'Gr. Comunicación Digital ': 'Comunicación digital', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Publicidad      ': 'Publicidad', 'PERIODISMO               ': 'Periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Educación Infantil   ': 'Educación infantil', 'COMUNICACIÓN AUDIOVISUAL ': 'Comunicación audiovisual', 'PUBLICIDAD Y REL.PÚBLICAS': 'Publicidad'}

In [412]:
df['Nombre reducido'] = df['Nombre reducido'].replace(nuevos) # We replace our values by more comprehensible values

In [413]:
df['Nombre reducido'].unique()

array(['Comunicación audiovisual', 'Publicidad', 'Historia Arte',
       'Periodismo', 'Humanidades', 'Historia', 'Educación primaria',
       'Educación infantil', 'Comunicación digital'], dtype=object)

In [414]:
columnas_a_eliminar = {'Cod.facultad', 'Cod.carrera', 'Cv; telefono sms', 'Tipo expediente'} 

# We set the columns that we want to remove in our df

In [415]:
df = df.drop(columnas_a_eliminar, axis=1)

 # And now we get rid of those columns and visualize again our dataframe

In [416]:
nuevos_nombres = {'Nombre reducido': 'Grado', 'Nombre propio': 'Nombre', 'Cv; email asig.': 'Email universitario', 'Cv; email libre': 'Email personal'}

In [417]:
df = df.rename(columns=nuevos_nombres)



# Now we change our columns names

In [418]:
def eliminar_espacios_extra(cadena):
    if isinstance(cadena, str):  
        return cadena.strip()
    else:
        return cadena

df = df.applymap(eliminar_espacios_extra)

# We create a function to remove all spaces before and after each value of our dataframe

In [419]:
def crear_nombre_completo(row):
    return f"{row['Nombre']} {row['Primer apellido']} {row['Segundo apellido']}"


df['Nombre completo'] = df.apply(crear_nombre_completo, axis=1)



# We create a function that mixes each student's name, first and second name. We then apply it to our df in a new column

In [420]:
'''A lot of our graduates are duplicated, since they graduated from a dual degree. We are going to identify them, 
remove the second row, and in the column 'Grado' of our first row, we're going to add the dual degree'''


import pandas as pd

for index, row in df.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df[df['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df.loc[index, 'Grado'] = nuevos_grados
        
        df.drop(duplicados.index[1:], inplace=True)

In [421]:
valores_a_eliminar = ['Educación primaria', 'Educación primaria y Educación infantil', 'Educación infantil']

df = df[~df['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)



# Finally, we get rid of the students from the degrees of Primary Education and Early Childhood Education

## Second dataframe (2016-2017)

In [423]:
df2 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2016-2017.csv')

In [424]:
df2['Nombre reducido'].unique()

array(['Grado en Publicidad      ', 'Grado en Historia Arte   ',
       'Grado en Periodismo      ', 'Grado en Humanidades     ',
       'Gr. Comunicación Digital ', 'Gr. Educación Infantil   ',
       'Grado en Com Audiovisual ', 'Gr. Educación Primaria   ',
       'Grado en Historia        '], dtype=object)

In [425]:
nuevos2 = {'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia Arte', 'Gr. Educación Primaria   ': 'Educación primaria', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Publicidad      ': 'Publicidad', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Educación Infantil   ': 'Educación infantil'}

In [426]:
df2['Nombre reducido'] = df2['Nombre reducido'].replace(nuevos2) # We replace our values by more comprehensible values

In [429]:
columnas_a_eliminar2 = {'Cod.facultad', 'Cod.carrera', 'Cv; telefono sms', 'Tipo expediente'}

In [430]:
df2 = df2.drop(columnas_a_eliminar2, axis=1)

In [431]:
nuevos_nombres2 = {'Nombre reducido': 'Grado', 'Nombre propio': 'Nombre', 'Cv; email asig.': 'Email universitario', 'Cv; email libre': 'Email personal'}

In [432]:
df2 = df2.rename(columns=nuevos_nombres2)

In [433]:
df2 = df2.applymap(eliminar_espacios_extra)

# We create a function to remove all spaces before and after each value of our dataframe

In [434]:
df2['Nombre completo'] = df2.apply(crear_nombre_completo, axis=1)

In [435]:
for index, row in df2.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df2[df2['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df2.loc[index, 'Grado'] = nuevos_grados
        
        df2.drop(duplicados.index[1:], inplace=True)

In [436]:
df2 = df2[~df2['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)

## Third dataframe (2017-2018)

In [437]:
df3 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2017-2018.csv')

In [438]:
nuevos3 = {'Grado en Com Audiovisual ': 'Comunicación audiovisual', 'Grado en Historia Arte   ': 'Historia Arte', 'Gr. Educación Primaria   ': 'Educación primaria', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Humanidades     ': 'Humanidades', 'Grado en Publicidad      ': 'Publicidad', 'Grado en Periodismo      ': 'Periodismo', 'Grado en Historia        ': 'Historia', 'Gr. Educación Infantil   ': 'Educación infantil'}

In [439]:
df3['Nombre reducido'] = df3['Nombre reducido'].replace(nuevos2) # We replace our values by more comprehensible values

In [440]:
df3 = df3.rename(columns=nuevos_nombres3)

In [441]:
df3 = df3.applymap(eliminar_espacios_extra)

In [442]:
def transform_name(row):
    if ',' in row['Nombre del alumno']:
        parts = row['Nombre del alumno'].split(', ')
        formatted_name = ' '.join([part.title() for part in parts[::-1]])
        return formatted_name
    else:
        return row['Nombre del alumno']

df3['Nombre completo'] = df3.apply(transform_name, axis=1)

In [443]:
for index, row in df3.iterrows():
    
    nombre_completo_actual = row['Nombre completo']
    grado_actual = row['Grado']

    duplicados = df3[df3['Nombre completo'] == nombre_completo_actual]
    cantidad_duplicados = len(duplicados)

    if cantidad_duplicados > 1:
        
        nuevos_grados = ' y '.join(duplicados['Grado'])
        
        df3.loc[index, 'Grado'] = nuevos_grados
        
        df3.drop(duplicados.index[1:], inplace=True)

In [444]:
df3 = df3[~df3['Grado'].isin(valores_a_eliminar)].reset_index().drop('index', axis=1)

In [445]:
columnas_a_eliminar3 = {'Cv; telefono sms', 'Calificacion exp', 'Cv; telefono sms', 'Nombre del alumno'} 

df3 = df3.drop(columnas_a_eliminar3, axis=1)

## Fourth dataframe (2018-2019)

In [ ]:
df4 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2018-2019.csv')


# DA ERROR, LO DEJAMOS PARA MÁS ADELANTE

## Fifth dataframe (2019-2020)

In [446]:
df5 = pd.read_csv('/Users/davidfernandez/Desktop/Egresados CSV/2019-2020.csv')

## Testing selenium with a small dataframe

In [447]:
df1 = df.head(20)

In [448]:
!pip install selenium
!pip install webdriver-manager

# Manejo de datos 
import pandas as pd # manejo de datos y dataframes
import numpy as np # manejo de arrays y operaciones matematicas 



from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager 
from selenium.webdriver.common.keys import Keys 
from selenium.webdriver.chrome.options import Options # permite configurar el driver de chrome como modo incognito o maximizar la ventana
from time import sleep 


import warnings 
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (4.13.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver-manager in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (4.0.1)
Requirement already satisfied: requests in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/davidfernandez/anaconda3/lib/python3.11/site-packages (from requests->webdriver-manager) (2023.5.7)

In [449]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') 
opciones.add_argument('user.data-dir=selenium') 
opciones.add_argument('--incognito')

In [450]:
df7 = df.head(5)

In [452]:
driver = webdriver.Firefox()
driver.get("https://www.linkedin.com")
driver.implicitly_wait(3)

# Iniciar sesión
driver.find_element("css selector", '#session_key').send_keys('joseeee.perezzzz94@gmail.com')
driver.find_element("css selector", '#session_password').send_keys('Futurama96')
driver.find_element("css selector", 'button.btn-md:nth-child(3)').click()

# Esperar a que inicie sesión
sleep(2)

perfiles_linkedin = []

# Iterar a través de los nombres completos en el DataFrame df7
for nombre_completo in df7['Nombre completo']:
    
    driver.get("https://www.linkedin.com/school/universidad-san-pablo-ceu/people/")    

    # Ingresar el nombre completo y presionar Enter
    driver.find_element('css selector', "#people-search-keywords").send_keys(nombre_completo, Keys.RETURN)

    sleep(2)
    
    try:

        link_elements = driver.find_elements(By.CSS_SELECTOR, 'a.app-aware-link ')[8]
            
        texto = link_elements.get_attribute('href')

        perfiles_linkedin.append(texto)
       

    except Exception as e:
        
        print(f"No se encontró perfil para {nombre_completo}")
        continue
        
df7['Link perfil'] = perfiles_linkedin


driver.quit()